# Auto detect text files and perform LF normalization
* text=auto
EpicQuadPanorama_CC.uasset filter=lfs diff=lfs merge=lfs -text
Content/Guardian/Level/FBX/test.uasset filter=lfs diff=lfs merge=lfs -text
Content/EuropeanHornbeam/Textures/Decoration/T_EuropeanHornbeam_Decoration_Mask.uasset filter=lfs diff=lfs merge=lfs -text
*/Decoration/T_EuropeanHornbeam_Decoration_Normal.uasset filter=lfs diff=lfs merge=lfs -text
*/Forest/Forest_02/T_Impostor_BaseColor_Forest_02_Summer.uasset filter=lfs diff=lfs merge=lfs -text
*/Forest/Forest_02/T_Impostor_BaseColor_Forest_02_Winter.uasset.uasset filter=lfs diff=lfs merge=lfs -text
*/Forest/Forest_02/T_Impostor_Normal_Forest_02_Summer.uasset filter=lfs diff=lfs merge=lfs -text
*/Forest/Forest_02/T_Impostor_Normal_Forest_02_Winter.uasset filter=lfs diff=lfs merge=lfs -text
*/Forest/Forest_09/T_Impostor_BaseColor_Forest_09_Summer.uasset filter=lfs diff=lfs merge=lfs -text
*/Forest/Forest_09/T_Impostor_Normal_Forest_09_Summer.uasset filter=lfs diff=lfs merge=lfs -text
*/Tileable/T_EuropeanHornbeam_Tileable_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
*/Tileable/T_EuropeanHornbeam_Tileable_Mask.uasset filter=lfs diff=lfs merge=lfs -text
*/Tileable/T_EuropeanHornbeam_Tileable_Normal.uasset filter=lfs diff=lfs merge=lfs -text
*/Megascan/S_Gigantic_Tundra_Terrain_vi3hcjw_high.uasset filter=lfs diff=lfs merge=lfs -text
*/Megascan/S_Japanese_Park_Stairs_ve0icftdb_high_Var1.uasset filter=lfs diff=lfs merge=lfs -text
*/Megascan/S_Japanese_Park_Stairs_veugccy_high_Var1.uasset filter=lfs diff=lfs merge=lfs -text
*/Cliff01/T_Cliff01_D_CC_R.uasset filter=lfs diff=lfs merge=lfs -text
*/Cliff01/T_Cliff01_N.uasset filter=lfs diff=lfs merge=lfs -text
*/PebblyRiverbank/T_Tile_PebblyRiverbank_D_R.uasset filter=lfs diff=lfs merge=lfs -text
*/PebblyRiverbank/T_Tile_PebblyRiverbank_N.uasset filter=lfs diff=lfs merge=lfs -text
*/RockyPath/T_GDC_StonePath_Tile_D_R.uasset filter=lfs diff=lfs merge=lfs -text
*/RockyPath/T_GDC_StonePath_Tile_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Large_Volcanic_Rock_001/T_GDC_LargeVolcanicRock_001_D2_R.uasset filter=lfs diff=lfs merge=lfs -text
*/Large_Volcanic_Rock_001/T_GDC_LargeVolcanicRock_001_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Mountain_RockFace_002/T_MountainRock_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Mountain_RockFace_002/T_MountainRock_Closed_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Mountain_RockFace_002/T_MountainRock_Closed_D2.uasset filter=lfs diff=lfs merge=lfs -text
*/Mountain_RockFace_002/T_MountainRock_Closed_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Mountain_RockFace_002/T_MountainRock_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Scree001/T_Scree_001_D_CC.uasset filter=lfs diff=lfs merge=lfs -text
*/Scree001/T_Scree_001_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Scree002/T_Scree002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
*/Scree002/T_Scree002_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Tree_Stump_01/T_Tree_Stump_01_D_R.uasset filter=lfs diff=lfs merge=lfs -text
*/Vegetation_Debris_002/T_Vegetation_Debris_002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
*/Vegetation_Debris_002/T_Vegetation_Debris_002_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Levels/L-Demo.umap filter=lfs diff=lfs merge=lfs -text
*/Gigantic_Tundra_Terrain_vi3hcjw/S_Gigantic_Tundra_Terrain_vi3hcjw_high.uasset filter=lfs diff=lfs merge=lfs -text
*/Gigantic_Tundra_Terrain_vi3hcjw/T_Gigantic_Tundra_Terrain_vi3hcjw_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Gigantic_Tundra_Terrain_vi3hcjw/T_Gigantic_Tundra_Terrain_vi3hcjw_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Gigantic_Tundra_Terrain_vi3hcjw/T_GiganticTundraTerrain_vi3hcjw_8K_DpRF.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_ve0icftdb/S_Japanese_Park_Stairs_ve0icftdb_high_Var1.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_ve0icftdb/T_Japanese_Park_Stairs_ve0icftdb_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_ve0icftdb/T_Japanese_Park_Stairs_ve0icftdb_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_ve0icftdb/T_JapaneseParkStairs_ve0icftdb_8K_DpR.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_veugccy/S_Japanese_Park_Stairs_veugccy_high_Var1.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_veugccy/T_Japanese_Park_Stairs_veugccy_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_veugccy/T_Japanese_Park_Stairs_veugccy_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_veugccy/T_JapaneseParkStairs_veugccy_8K_DpR.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_vf0ldelqx/T_Japanese_Park_Stairs_vf0ldelqx_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_vf0ldelqx/T_Japanese_Park_Stairs_vf0ldelqx_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stairs_vf0ldelqx/T_JapaneseParkStairs_vf0ldelqx_8K_DpR.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stone_Embankment_veqhejb/T_Japanese_Park_Stone_Embankment_veqhejb_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stone_Embankment_veqhejb/T_Japanese_Park_Stone_Embankment_veqhejb_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Park_Stone_Embankment_veqhejb/T_JapaneseParkStoneEmbankment_veqhejb_8K_DpRF.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Stone_Stairs_Wall_vemieei/T_Japanese_Stone_Stairs_Wall_vemieei_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Stone_Stairs_Wall_vemieei/T_Japanese_Stone_Stairs_Wall_vemieei_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Japanese_Stone_Stairs_Wall_vemieei/T_JapaneseStoneStairsWall_vemieei_8K_DpRF.uasset filter=lfs diff=lfs merge=lfs -text
*/Modular_Japanese_Stairs_Kit_vfzvebidw/T_Modular_Japanese_Stairs_Kit_vfzvebidw_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Modular_Japanese_Stairs_Kit_vfzvebidw/T_Modular_Japanese_Stairs_Kit_vfzvebidw_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Modular_Japanese_Stairs_Kit_vfzvebidw/T_ModularJapaneseStairsKit_vfzvebidw_8K_DpR.uasset filter=lfs diff=lfs merge=lfs -text
*/Nordic_Mossy_Ground_vi2ldcomw"T_Nordic_Mossy_Ground_vi2ldcomw_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Nordic_Mossy_Ground_vi2ldcomw"T_Nordic_Mossy_Ground_vi2ldcomw_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Nordic_Mossy_Ground_vi2ldcomw"T_NordicMossyGround_vi2ldcomw_8K_DpRF.uasset filter=lfs diff=lfs merge=lfs -text
*/Tundra_Rock_Formation_vi5raec/T_Tundra_Rock_Formation_vi5raec_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Tundra_Rock_Formation_vi5raec/T_Tundra_Rock_Formation_vi5raec_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Tundra_Rock_Formation_vi5raec/T_TundraRockFormation_vi5raec_8K_DpRF.uasset filter=lfs diff=lfs merge=lfs -text
*/3D_Assets/Tundra_Rocky_Ground_vi5jfctmw/T_Tundra_Rocky_Ground_vi5jfctmw_8K_D.uasset filter=lfs diff=lfs merge=lfs -text
*/3D_Assets/Tundra_Rocky_Ground_vi5jfctmw/T_Tundra_Rocky_Ground_vi5jfctmw_8K_N.uasset filter=lfs diff=lfs merge=lfs -text
*/3D_Assets/Tundra_Rocky_Ground_vi5jfctmw/T_TundraRockyGround_vi5jfctmw_8K_DpRF.uasset filter=lfs diff=lfs merge=lfs -text
*/Textures/T_Agelsjon02_Cliff_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Textures/T_HadriansWall_D_Colored.uasset filter=lfs diff=lfs merge=lfs -text
*/Textures/T_LargePlainsBoulder002_D.uasset filter=lfs diff=lfs merge=lfs -text
*/Textures/T_Scree002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
*/Textures/T_Scree002_N.uasset filter=lfs diff=lfs merge=lfs -text
*/Textures/T_Cabinet240_N.uasset filter=lfs diff=lfs merge=lfs -text
